html {
  font-size: 5.6vmin;
}

body {
  font-size: 0.764rem;
  line-height: 1rem;
  position: relative;
  --hand-height: 4rem;
  padding: 0rem 0 2rem;
}

.board {
  position: relative;
  /* border: 1px solid red; */
  margin: 0 auto;
  --tile-size: 1.7rem;
  --tile-height: calc(var(--tile-size) * 0.8660254);
  width: calc((var(--width)) * var(--tile-size));
  height: calc(var(--height) * var(--tile-height));
  margin-bottom: var(--hand-height);
  user-select: none;
}

.tile {
  position: absolute;
  left: calc((var(--px)) * var(--tile-size));
  top: calc((var(--py)) * var(--tile-height));
  width: calc(var(--tile-size) * 1.5);
  height: calc(var(--tile-size) * 1.5);
  border: 0.5px solid;
  outline: 0.5px solid;
  background: white;
  display: grid;
  place-items: center;
}

.tile:hover {
  background-color: red;
}

.hand {
  position: fixed;
  left: 0;
  bottom: 0;
  right: 0;
  display: flex;
  justify-content: center;
  padding: 0 1rem;
  padding-right: 2.25rem;
  height: var(--hand-height);
  pointer-events: none;
  user-select: none;
}

.card {
  width: 5rem;
  height: 7rem;
  padding: 0.5rem;
  position: absolute;
  left: 0;
  top: 0;
  border: 1px solid;
  background-color: white;
  border-radius: 0.382rem;
  transition: all 0.236s cubic-bezier(0.236, 0.764, 0.382, 0.856);
  will-change: transform;
  cursor: grab;
  pointer-events: all;
}

.card:active {
  cursor: grabbing;
}

.card-in-hand {
  flex-basis: 5rem;
  position: relative;
}

.hand:hover .card {
  transform: translateX(-1rem);
}

.card-in-hand:hover .card {
  transform: translateX(-1rem) translateY(-3rem);
  transition-duration: 0.056s;
}

.card-in-hand:hover ~ .card-in-hand .card {
  transform: translateX(2rem);
}
