html {
  --hand-offset: -4rem;
  --card-width: 5rem;
  --card-height: 7rem;
  font-size: 5.6vmin;
  font-family: "Avona Serif", serif;
}

body {
  font-size: 0.764rem;
  line-height: 1rem;
  position: relative;
  padding-bottom: var(--card-height);
}

.board {
  position: relative;
  /* border: 1px solid red; */
  user-select: none;
  display: grid;
  grid-auto-columns: minmax(0, 3rem);
  place-content: start center;
  place-items: stretch;
  padding: 0.5rem;
}

.tile {
  grid-area: var(--y) / var(--x);
  position: relative;
  top: calc(var(--offset) * 100%);
  padding-top: 100%;
}

.tile-content {
  border: 0.5px solid;
  outline: 0.5px solid;
  background: white;
  display: grid;
  place-content: center;
  text-align: center;
  font-size: 0.5rem;
  line-height: 1;
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  bottom: 0;
}

.tile-content:hover {
  background-color: red;
}

.hand {
  position: fixed;
  left: 0;
  bottom: var(--hand-offset);
  right: 0;
  height: calc(var(--card-height) - var(--hand-offset));
  user-select: none;
  pointer-events: none;
  display: flex;
  justify-content: center;
  height: 7rem;
}

.card {
  width: var(--card-width);
  height: var(--card-height);
  padding: 0.5rem;
  border: 1px solid;
  background-color: white;
  border-radius: 0.382rem;
  transition: all 0.236s ease-out;
  transition-property: transform, opacity;
  will-change: transform;
  cursor: grab;
  font-family: Avona;
  font-weight: 1000;
  touch-action: none;
}

.card:active {
  cursor: grabbing;
}

.card-in-hand {
  flex-basis: 3rem;
  position: relative;
  pointer-events: all;
  touch-action: none;
}

.hand .card {
  transform: translateX(-50%);
  position: absolute;
  top: 0;
  left: calc(var(--offset) * -1);
}

.hand:hover .card {
  transform: translateX(-50%) translateX(var(--offset));
}

.card-in-hand:hover ~ .card-in-hand .card {
  transform: translateX(-50%) translateX(calc(100% + var(--offset)));
}

.card-in-hand:hover .card,
.card.activated {
  transform: translateX(var(--offset)) translateY(var(--hand-offset));
  transition-duration: 0.056s;
}

.card.activated {
  opacity: 0;
}

#pointer-follower {
  position: fixed;
  left: 0;
  top: 0;
  pointer-events: none;
  will-change: transform;
}

#pointer-follower-content {
  will-change: transform;
  transform: translate(-50%, -50%);
  transition: transform 0.25s ease-out;
}
