---
import Layout from "../layout.astro";
import Board from "../components/Board.jsx";
import Hand from "../components/Hand.jsx";
---

<Layout>
  <Board:idle />
  
  <!--script>window.scrollTo(0, document.body.scrollHeight / 2); console.log(document.body.scrollHeight)</script-->
  
  <Hand:idle />
  <div id="pointer-follower"><div id="pointer-follower-content"></div></div>
</Layout>
