<!doctype html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, minimum-scale=1" />
    <title>Vuoro GMTK 2021 Entry</title>
    
    <link rel="preload" href="https://vuoro-gmtk-2021-webfonts.netlify.app/Avona.ttf" as="font" type="font/ttf" crossorigin>
    <link rel="preload" href="https://vuoro-gmtk-2021-webfonts.netlify.app/AvonaSerif.ttf" as="font" type="font/ttf" crossorigin>
    
    <link rel="stylesheet" href="/fonts.css">
    <link rel="stylesheet" href="/reset.css">
    <link rel="stylesheet" href="/main.css">
</head>
<body>
    <slot />
</body>
</html>

<!--
▩▩ ▩▩ ▩▩ ▩▩  ▩▩▩  ▩▩▩▩   ▩▩▩ 
▩▩ ▩▩ ▩▩ ▩▩ ▩▩ ▩▩ ▩▩ ▩▩ ▩▩ ▩▩
▩▩ ▩▩ ▩▩ ▩▩ ▩▩ ▩▩ ▩▩ ▩▩ ▩▩ ▩▩
▩▩ ▩▩ ▩▩ ▩▩ ▩▩ ▩▩ ▩▩▩▩  ▩▩ ▩▩
▩▩ ▩▩ ▩▩ ▩▩ ▩▩ ▩▩ ▩▩ ▩▩ ▩▩ ▩▩
 ▩▩▩  ▩▩ ▩▩ ▩▩ ▩▩ ▩▩ ▩▩ ▩▩ ▩▩
  ▩    ▩▩▩   ▩▩▩  ▩▩ ▩▩  ▩▩▩ 

      https://vuoro.dev
-->